#back-wrapper5.back-w-img {
    height: 300px;
    background: url(https://theme.hstatic.net/1000185703/1000238955/14/breadcrumb_bg5.png?v=2347);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0;
    margin: 0;
}
.colll{
    padding-top: 50px;
}
.acount {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.phone {
    color: black;
    text-decoration: none;
}
.phone:hover{
    color: #ff789e !important;
    text-decoration: none;
}

.img1:hover {
    transform: scale(1.2);
}
.img1{
    max-width: 100%;
    border: 0 none;
}

.img1{
        width: 100%;
    vertical-align: middle;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transform: scale(1.1);
}
.title1 {
    font-size: 24px;
    text-transform: uppercase;
    padding-top: 10px;
    margin: 0px !important;
}
.time {
    font-size: 14px;
    padding: 0 !important;
    margin: 0 !important;
}
.bio2 {
    font-size: 13px;
    text-align: left;
}
.comment-facebook {
    height: auto;
}
.right-content {
    float: right !important;
    position: relative !important;
    width: 60%;
    height: 100%;
}
.nen {
    color: white !important;
    background-color: #ff789e !important;
    border: 1px solid #ff789e !important;
    text-transform: uppercase;
}
.boder1 {
    border:1px dotted #ff789e;
}
.boder2 {
    border: 1px solid #ff789e;
    max-width: 50%;
    margin: 10px 15px 0 0px;    
    text-align: center;
}
.alin3 {
    padding: 20px 50px;
    margin: 0 15px;
}
.textline {
    float: left;
    font-size: 19px;
    text-transform: uppercase;
    padding: 20px;
    color: #ff789e !important;
    font-weight: bold;
}
.textline2 {
    float: left;
    font-size: 19px;
    padding: 20px;
}
.textright {
    float: right;
}
.overnight {
    display: block;
    overflow: hidden;
}
.sizef {
    font-size: 14px;
}
.sizeff {
    font-size: 15px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 210px;
}
.sizefff {
    font-weight: 14px;
    font-weight: normal;
}
@media and screen (max-width: 768px)
{
    .sizeff{
        font-size: 13px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 330px;
    }
}